@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-black text-neutral-light;
  }
}

@keyframes gradientShift {
  0% {
    background: linear-gradient(
      to bottom,
      #581c87 0%,
      #7c3aed 50%,
      #000000 100%
    );
  }
  50% {
    background: linear-gradient(
      to bottom,
      #581c87 0%,
      #581c87 50%,
      #000000 100%
    );
  }
  100% {
    background: linear-gradient(
      to bottom,
      #581c87 0%,
      #7c3aed 50%,
      #000000 100%
    );
  }
}

.animate-gradient-shift {
  animation: gradientShift 4s ease-in-out infinite;
}
